ul.menu
	+header-height(35px)
	font-size: 12px
	box-sizing: border-box
	width: 100%
	display: block
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(#f5f5f5, 0.8) 95%, rgba(#ccc, 1) 100%)
	li
		+header-height(35px)
		float: left
		cursor: pointer
		a
			+header-height(35px)
			padding: 0px 14px
			text-decoration: none
		&.active
			box-shadow: inset 0px 0px 7px rgba(#aaa, 0.3)
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(#efefef, 0.3) 95%, rgba(#ccc, 1) 100%)
		&:hover
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(#eee, 0.8) 95%, rgba(#aaa, 1) 100%)

